.table-row {
    /* Estilo para las filas de datos */
}

.table-header {
    /* Estilo para el encabezado */
}

.table-pager {
    text-align: center;
    padding: 1rem;
}

    .table-pager .pagination {
        margin: 0;
    }

    .table-pager .page-item {
        margin: 0 2px;
    }

    .table-pager .pagination-sm .page-link {
        padding: 0.25rem 0.5rem;
    }
